@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --dark-color: #293B5F;
    --primary-color: #DBE6FD;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: var(--dark-color);
}
.nav-bar {
    text-align: center;
    padding: 1.5% 5%;
    color: var(--dark-color);
    background-color: var(--primary-color);
}
.container {
    margin: auto;
    text-align: center;
    max-width: 70%;
}

#heading{
    margin:1rem;
}

label,input {
    display: block;
    padding: 0.75rem;
}

label {
    font-size: 1.3rem;
}

input {
    border-radius: 0.3rem;
    margin: auto;
    width: 33%;
    margin:0.3rem auto;
    font-size: 1rem;
}

#submit-btn{
    font-size: large;
    margin: 1rem;
    padding: 0.5rem 1rem;
    background-color: var(--primary-color);
    border-color: var(--dark-color);
    border: solid 1.5px;
    border-radius: 1rem;
}

#output{
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 1rem;
}

#footer {
    width: 100%;
    padding: 1.5rem;
    margin-top: 1rem;
    text-align: center;
    color: var(--dark-color);
    background-color: var(--primary-color);
    position:absolute;
    bottom: 0;
    height:100px; 
}

.footer-icon {
    color: var(--dark-color);
    text-decoration: none;
    margin: 1rem;
}

@media (max-width: 600px) {
    input {
        width: 60%
    }
}